{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}数字币定投计划{% endblock %}

{% block page_content %}
<div class="page-header">
    美元汇率： {{ fex }} 
    <br />
    持仓估值： {{ cnysumround }} &nbsp 投入本金： {{ mybaseinvestround }} &nbsp 盈亏：{{ gain }} %
    <br />
    <br />
    <table class="table table-striped">
    <tread><tr><th>数字币</th><th><div style="text-align:right;">持仓量</div></th><th><div style="text-align:right;">持仓成本(CNY)</div></th><th><div style="text-align:right;">市价(CNY)</div></th><th><div style="text-align:right;">盈亏</div></th></tr></tread>
    <tbody>
    {% for k,v in portfolio.items() %}
    <tr>
    <td>{{ k }}</td><td><div style="text-align:right;">{{ v[0] }}</div></td><td><div style="text-align:right;">{{ v[2] }}</div></td><td><div style="text-align:right;">{{ v[4] }}</div></td><td><div style="text-align:right;">{{ v[5] }}%</div></td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    
</div>

{% endblock %}
